@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600')

// Overrides
// Colors
$deep-lilac: #8C43FF
$deep-lilac-invert: #fff

$primary: $deep-lilac
$primary-invert: $deep-lilac-invert

$link: $deep-lilac

// Fonts
$family-sans-serif: "Nunito", sans-serif

// Breakpoints
$widescreen-enabled: false
$fullhd-enabled: false

$gap: 32px

$tablet: 720px
$desktop: 720px + (2 * $gap)

@import bulma
@import mercy
