{{ define "content" }}
  <section class="section">
    <div class="container">
      <article class="content">{{ .Content }}</article>
    </div>
  </section>

  {{ $posts := .Site.RegularPages.Related . | first 3 }}
  {{ if $posts }}
    <section class="section">
      <div class="container">
        <h3 class="title is-3">{{ "related-posts" | i18n }}</h3>
        {{ range $posts }}
          <article class="media">
            <div class="media-content">
              <a href="{{ .URL }}">{{ .LinkTitle }}</a>
            </div>
            <div class="media-right">
              <span class="is-size-7-mobile has-text-grey-light">{{ .Date.Format "2 Jan 2006" }}</span>
            </div>
          </article>
        {{ end }}
      </div>
    </section>
  {{ end }}

  {{ if and .Site.DisqusShortname (not .Params.disableComments) }}
    <section class="section">
      <div class="container">
        <h3 class="title is-3">{{ "comments" | i18n }}</h3>
        {{ template "_internal/disqus.html" . }}
      </div>
    </section>
  {{ end }}
{{ end }}
