<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">{{ .Site.Title }}</a>
      {{ range .Site.Menus.social }}
          <a class="navbar-item" href="{{ .URL }}"><span class="icon"><i class="fab fa-{{ .Name }}"></i></span></a>
        {{ end }}
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        {{ range .Site.Menus.main }}
          <a class="navbar-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
